.container {
  height: 100%;
  /* display: flexbox; */
  /* justify-content: center; */
}

.jumbo {
  padding: 0px;
}

#jumboTitle {
  font-style: italic;
}

#results {
  color: darkgreen;
  font-size: 200%;
  font-weight: bold;
  text-align: left;
  width: 90%;
}

.home_text {
  font-family: Barlow Regular; 
}

.home_title {
  font-family: Barlow Medium;
  font-weight: 500;
}